<p id="notice"><%= notice %></p>

<%= link_to 'Back to tasks', tasks_path %>
<%= link_to 'Back to projects', projects_path %>
<br>
<h3>Project: <%= @task.project.title %></h3>
<p>
  <%= @task.description %>
</p>

<%= link_to 'Edit task', edit_task_path(@task) %>

<div>
  <h3>Comments for this task</h3>
  <ul>
  <% @comments.each do |comment| %>
    <li>
      <%= link_to comment.body, comment %>
    </li>
  <% end %>
  </ul>
  <%= link_to 'Add comment', new_comment_path %>
</div>

<div>
</div>
