<p id="notice"><%= notice %></p>

<h1>My Projects</h1>

<table>
  <thead>
  </thead>

  <tbody>
    <% @projects.each do |project| %>

      <tr>
        <td><%= link_to project.title.upcase, project %></td>
        <td><%= link_to 'Edit Project', edit_project_path(project) %></td>
        <td><%= link_to 'Delete Project', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Project', new_project_path %>
