<p id="notice"><%= notice %></p>

<%= link_to 'Back to projects', projects_path %>

<div>
  <p>
    <%= @project.title %>
  </p>
  <p>
    <%= @project.description %>
  </p>
  <%= link_to 'Edit project', edit_project_path(@project) %>
</div>

<div>
  <% if current_user %>
    <%= link_to 'Add task', new_task_path %>
  <% end %>
</div>
