<p id="notice"><%= notice %></p>

<%= link_to 'Back to projects', projects_path %>

<div>
  <p>
    <%= @project.title %>
  </p>
  <p>
    <%= @project.description %>
  </p>
  <%= link_to 'Edit project', edit_project_path(@project) %>
  <%= link_to 'Delete Project', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<% if current_user %>
<div>
  <h3>Tasks for this project</h3>
  <ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.description %>
    </li>
  <% end %>
  </ul>
  <%= link_to 'Add task', new_task_path %>
</div>
<% end %>
